  .attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 100px;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }

  @import url('https://fonts.google.com/specimen/Inter');
  @import url('https://fonts.google.com/specimen/Lexend+Deca');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }

  section {
    width: 65%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius : 5px;
  }

  section .image {
    background-color: hsl(277, 64%, 61%);
    border-radius :0px 5px 5px 0px;
  }

  section .image img {
    width: 100%;
    height: 100%;
    opacity: .4;
    border-radius :0px 5px 5px 0px;
  }

  .content {
    padding: 3rem;
    width: 50%;
  }

  .content h2 {
    margin-top: 0;
    font-size: 1.5rem;

  }

  .content h2 span {
    color: hsl(277, 64%, 61%);
  }

  .main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 1.5rem;
    font-size: .75rem;
    line-height: 1.2rem;
  }

  .stats {
    margin-top: 2.5rem;
    width: 50%; 
    line-height: 1.65rem;
    display: flex;
    justify-content: space-between;
  }
  
  .stats li {
    list-style-type: none;
  }

  .stats li span {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
  }

  .stats li:nth-child(1) .stat-heading {
    text-transform: lowercase;
  }
  
  .stats li .stat-heading, h2 {
    color: hsl(0, 0%, 100%);
  }

 

  /*RESPONSIVE*/
  @media (max-width: 900px) {

    section {
      width: 90%;
      margin-top: 5rem;
      margin-bottom: 10rem;
      flex-direction: column-reverse;
    }

    .content {
      width: 100%;
      text-align: center;
    }

    .stats {
      width: 100%;
      flex-direction: column;
    }

    .stats li {
      margin-bottom: 2rem;
    }

    .stats li:nth-child(3) {
      margin-bottom: 0;
    }

    .stats li .stat-heading {
      font-size: 1.25rem;
    }

    .stats li .explanation {
      font-size: 12px;
    }

    section .image {
      border-radius :5px 5px 0px 0px;
    }

    section .image img {
      border-radius :5px 5px 0px 0px;
    }

  }